<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1036811337959-u53gealqk9tmsb3s7qb20hko4ndah019.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1036811337959-u53gealqk9tmsb3s7qb20hko4ndah019</string>
	<key>API_KEY</key>
	<string>AIzaSyD-vSrDu5wr0ogE3z9IoKJsh5Z1v5tOnaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1036811337959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-5b211</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-5b211.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036811337959:ios:c50326a7ab998b2d12a242</string>
</dict>
</plist>